.quality-section {
    background-color: #2C343E;
    border-radius: 10px;
    color: $oq;
    &::before {
        background-image: url(../../img/cofe2.jpg);
        display: block;
        position: absolute;
        content: '';
    }
}
.quality-section__content {
    max-width: 100%;
    width: 540px;
    margin: 0;
    padding-top: 88px;
    padding-left: 85px;
    padding-bottom: 176px;
}