.site-footer__wrapper{
    display: flex;
    background-color: $qora;
    justify-content: space-between;
    padding: 48px 85px;
}
.site-footer__content{
    width: 622px;
    justify-content: space-between;
    display: flex;
    margin: 0;
    
}
.site-footer__link{
    &:not(:last-child){
        margin-right: 24px;
    }
}